<!DOCTYPE html>
<html>
<head>
	<title>Bendix</title>
	<link rel="stylesheet" type="text/css" href="./~/css/mdui.css"/>
	<link rel="stylesheet" type="text/css" href="./~/css/admin.css"/>
	<link rel="stylesheet" type="text/css" href="./~/css/common.css"/>
	<script type="text/javascript" src="./~/js/vue.global.prod.js" ></script>
	<script type="text/javascript" src="./~/js/admin.js" ></script>
</head>
<body class="content-container">
	<div id="admin" class="content" >

		<table class="containers-holder">
			<tr>
				<td class="vertically-spaced-containers">
					<div class="entities card">
						<h1><img src="./~/icon/google/person.svg"/>User</h1>
						<table>
							<tr>
								<th>Id</th>
								<th>Matrix Id</th>
								<th>Rights</th>
								<th></th>
							</tr>
							<tr v-for="user in users" class="row-with-quick-actions">
								<td>{{ user.id }}</td>
								<td><span class="code">{{ user.mxid }}</span></td>
								<td class="spaced-text-elements">
									<span class="right chip" v-for="right in user.rights">{{ right.id }}</span>
								</td>
								<td class="quick-actions-container">
									<a class="quick-action reverse-boo" v-on:click="delete_user(user.id)"> <img class="quick-action-danger" src="./~/icon/google/delete.svg"/></a>
								</td>
							</tr>
						</table>
					</div>

					<div class="entities card">
						<h1><img src="./~/icon/google/meeting_room.svg"/>Room</h1>
						<table>
							<tr>
								<th>Id</th>
								<th>Matrix Id</th>
								<th></th>
							</tr>
							<tr v-for="room in rooms" class="row-with-quick-actions">
								<td>{{ room.id }}</td>
								<td><span class="code">{{ room.mxid }}</span></td>
								<td class="quick-actions-container">
									<a class="quick-action reverse-boo" v-on:click="delete_room(room.id)"> <img class="quick-action-danger" src="./~/icon/google/delete.svg"/></a>
								</td>
							</tr>
						</table>
					</div>

					<div class="entities card">
						<h1><img src="./~/icon/google/work.svg"/>Project</h1>
						<table>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th></th>
							</tr>
							<tr v-for="project in projects" class="row-with-quick-actions">
								<td>{{ project.id }}</td>
								<td>{{ project.name }}</td>
								<td class="quick-actions-container">
									<a class="quick-action reverse-boo" v-on:click="delete_project(project.id)"> <img class="quick-action-danger" src="./~/icon/google/delete.svg"/></a>
								</td>
							</tr>
						</table>
					</div>
				</td>

				<td class="vertically-spaced-containers">
					<div class="entities card">
						<h1><img src="./~/icon/google/input.svg"/>Event</h1>
						<table>
							<tr>
								<th>Id</th>
								<th>Action</th>
								<th>Type</th>
								<th>Method</th>
								<th>Path</th>
								<th></th>
							</tr>
							<tr v-for="event in events" class="row-with-quick-actions">
								<td>{{ event.id }}</td>
								<td>{{ event.action }}</td>
								<td>
									<event-type :type="event.type"/>
								</td>
								<td>{{ event.method }}</td>
								<td>{{ event.path }}</td>
								<td class="quick-actions-container">
									<a class="quick-action reverse-boo" v-on:click="simulate_event(event.id)"><img src="./~/icon/google/input.svg"/></a>
									<a class="quick-action reverse-boo" v-on:click="delete_event(event.id)"> <img class="quick-action-danger" src="./~/icon/google/delete.svg"/></a>
								</td>
							</tr>
						</table>
					</div>

					<div class="entities card">
						<h1><img src="./~/icon/google/mediation.svg"/>Actuator</h1>
						<table>
							<tr>
								<th>Id</th>
								<th>Action</th>
								<th>Injectors</th>
								<th></th>
							</tr>
							<tr v-for="actuator in actuators" class="row-with-quick-actions">
								<td>{{ actuator.id }}</td>
								<td>{{ actuator.action }}</td>
								<td class="spaced-text-elements">
									<event-type v-for="injector_type in Object.keys(actuator.injectors)" :type="injector_type"/>
								</td>
								<td class="quick-actions-container">
									<a class="quick-action reverse-boo" v-on:click="delete_actuator(actuator.id)"> <img class="quick-action-danger" src="./~/icon/google/delete.svg"/></a>
								</td>
							</tr>
						</table>
					</div>

					<div class="entities card">
						<h1><img src="./~/icon/google/settings_applications.svg"/>Action</h1>
						<table>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Enabled</th>
								<th></th>
							</tr>
							<tr v-for="action in actions" class="row-with-quick-actions">
								<td>{{ action.id }}</td>
								<td>{{ action.name }}</td>
								<td>
									<label class="mdui-switch">
										<input type="checkbox" :checked="action.enabled" />
										<span class="mdui-slider round"></span>
									</label>
								</td>
								<td class="quick-actions-container">
									<a class="quick-action reverse-boo" v-on:click="runAction(action.id)"><img src="./~/icon/google/settings_applications.svg"/></a>
									<a class="quick-action reverse-boo" v-on:click="delete_action(action.id)"> <img class="quick-action-danger" src="./~/icon/google/delete.svg"/></a>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>

	</div>
	<script type="text/javascript" src="./~/js/component/event_type.js" ></script>
	<script type="text/javascript">
		Vue
			.createApp(Admin)
			.component('event-type', EventTypeComponent)
			.mount('#admin')</script>
</body>
</html>
