.content-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

card.container {
}

tr.row-with-quick-actions>td.quick-actions-container {
	text-align: right;
}
tr.row-with-quick-actions .quick-action {
	visibility: hidden;
}
tr.row-with-quick-actions:hover .quick-action {
	visibility: visible;
}

ul.type-dictionary li {
    margin-top: 5px;
}

.entities.card {
	padding-left: 1em;
    padding-right: 1em;
	padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.entity.card {
	padding-left: 1em;
    padding-right: 1em;
	padding-top: 0.5em;
    padding-bottom: 0.5em;
}

span.code {
    font-family: monospace;
    border: 1px
	solid grey;
    border-radius: 0.26em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #ededed;
}

span.right.chip {
    border-radius: 0.5em;
    border: #7a7a7a 1px solid;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #d6ffd9;
}

img.quick-action-primary {
	filter: invert(.5) sepia(1) saturate(5) hue-rotate(73deg);
}
img.quick-action-danger {
	filter: invert(0.1) sepia(77) saturate(42) hue-rotate(326deg)
}

span.injector-header {
    display: inline-block;
    border-radius: 0.3em;
    background-color: #d9d9d9;
}
span.injector-header>span.inner {
    margin: 0px 0.2em;
}
