:root {
  --container-spacing: 1em;
  --small-element-spacing: 0.4em;
  --color-active: green;
  --color-focus: blue;
  --color-changer: yellow;
  --color-invalid: red;
  --color-uncommitted: purple;
}

table.containers-holder {
	border-spacing: var(--container-spacing);
}

td.vertically-spaced-containers>:not(:first-child) {
    margin-top: var(--container-spacing);
}
.spaced-text-elements>:not(:first-child) {
	margin-left: var(--small-element-spacing);
}

.entities.card>h1>img {
    width: 1.2em;
    padding-right: 0.7em;
    vertical-align: bottom;
}

a.quick-action {
	border: 1px solid transparent;
	border-radius: 3px;
	display: inline-block;
}
a.quick-action>img:active {
	transform: scale(0.92);
}
a.quick-action:hover {
	border: 1px solid black;
}

.reverse-boo {
	opacity: 0.3;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.reverse-boo:hover {
	opacity: 1;
}

