.mdui-switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.mdui-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mdui-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.mdui-slider:before {
  position: absolute;
  content: "";
  width: 0.8em;
  height: 0.8em;
  left: 0.1em;
  bottom: 0.1em;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .mdui-slider {
  background-color: var(--color-active);
}

input:focus + .mdui-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .mdui-slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

/* Rounded sliders */
.mdui-slider.round {
  border-radius: 34px;
}

.mdui-slider.round:before {
  border-radius: 50%;
}